@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.blog-feature_image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: -1;
  background: theme(colors.bg-black);
}

@layer components {
  .post-container {
    @apply px-4 py-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:pt-16;
  }

  .btn {
    @apply border-2 border-iff-orange text-white bg-iff-orange px-6 py-2 rounded-md;
  }

  .btn-secondary {
    @apply border border-iff-orange text-iff-orange px-6 py-2 rounded-md;
  }

  .responsive-container {
    @apply md:mx-auto max-w-screen-lg;
  }

  .text-superheading {
    @apply text-gray-900 text-7xl md:text-3xl font-semibold
  }

  .text-subheading-1 {
    @apply text-gray-900 text-3xl md:text-3xl font-semibold
  }

  .text-subheading-2 {
    @apply text-gray-900 text-2xl md:text-2xl font-semibold
  }

  .text-subheading-3 {
    @apply text-gray-900 text-base font-semibold
  }

  .text-big-body {
    @apply text-xl
  }
}


.pagination{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pagination li {
  /* border: 0.1px solid gray; */
  padding: 0.1rem 0.5rem;
  cursor: pointer;
  display: block;
  font-weight: 400;
  @apply text-iff-orange md:text-lg w-10 text-center mt-auto rounded-full;
}

.pagination .selected {
  padding: 0.1rem 0.5rem;
  cursor: pointer;
  display: block;
  /* font-weight: bold; */
  @apply text-orange-700 bg-orange-100;
}
